doctype html
html(lang='en')
	head
		title= "PowerDD.com"
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		link(rel='stylesheet', href='//cdn.powerdd.com/bootswatch/slate/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		link(rel='icon', href='/favicon.ico', type='image/x-icon')

	body(ng-app, ng-init="brand = 'Remax'")

		nav.navbar.navbar-default.navbar-fixed-top.nav-shadow
			.container
				.navbar-header
					button.navbar-toggle.collapsed(aria-controls='navbar', aria-expanded='false', data-target='#navbar', data-toggle='collapse', type='button')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='//remaxthailand.co.th')
						img(src='//img.powerdd.com/web/powerdd/logo.png')
				#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav
						li.active
							a(href='//remaxthailand.co.th') ข่าวสาร
						li.dropdown
							a.dropdown-toggle(aria-expanded='false', role='button', data-toggle='dropdown', href='#')
								| ประเภทสินค้า 
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='//remaxthailand.co.th/product/category/new') New Arrivals
								li
									a(href='//remaxthailand.co.th/product/category/adapter') Adapter
								li
									a(href='//remaxthailand.co.th/product/category/bag') Bag
								li
									a(href='//remaxthailand.co.th/product/category/cable') Cable
								li
									a(href='//remaxthailand.co.th/product/category/car_gadget') Car Gadget
								li
									a(href='//remaxthailand.co.th/product/category/case_for_smartphone') Case for Smartphone
								li
									a(href='//remaxthailand.co.th/product/category/case_for_tablet') Case for Tablet
								li
									a(href='//remaxthailand.co.th/product/category/film') Film
								li
									a(href='//remaxthailand.co.th/product/category/gadget') Gadget
								li
									a(href='//remaxthailand.co.th/product/category/power_bank') Power Bank
								li
									a(href='//remaxthailand.co.th/product/category/small_talk-bluetooth') Small Talk / Bluetooth
								li
									a(href='//remaxthailand.co.th/product/category/speaker') Speaker
						li
							a(href='//remaxthailand.co.th/about_us') ขั้นตอนการสั่งซื้อ
						li
							a(href='//remaxthailand.co.th/contact_us') เกี่ยวกับเรา
						li(class=(data.screen == 'dropdown contact' ? 'dropdown active' : ''))
							a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown', role='button', aria-expanded='false')
								| ติดต่อสอบถาม 
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='javascript:void(0)')
										table
											tr
												td
													img.img-responsive(src="//img.powerdd.com/web/contact/line-powerdd.png", width="150")
											tr
												td(align="center")
													| Line ID  
													b @PowerDD
											tr
												td.padding-top-5(align="center")
													i.fa.fa-phone-square
													|  098-9919-060
					ul.nav.navbar-nav.navbar-right
						li
							a(href='https://24fin-backend.azurewebsites.net') สั่งซื้อสินค้า {{brand}}

		.container.margin-top-70
			.row
				.col-md-3(ng-hide="brand == 'Remax'")
					img.img-responsive.pointer(src='/images/logo/remax.png', ng-click="brand = 'Remax'")
				.col-md-3(ng-hide="brand == 'Xiaomi'")
					img.img-responsive.pointer(src='/images/logo/xiaomi.png', ng-click="brand = 'Xiaomi'")
				.col-md-3(ng-hide="brand == 'MiLi'")
					img.img-responsive.pointer(src='/images/logo/mili.png', ng-click="brand = 'MiLi'")
				.col-md-3(ng-hide="brand == 'PNG'")
					img.img-responsive.pointer(src='/images/logo/png.png', ng-click="brand = 'PNG'")
				.col-md-3(ng-hide="brand == 'Havit'")
					img.img-responsive.pointer(src='/images/logo/havit.png', ng-click="brand = 'Havit'")
				.col-md-3(ng-hide="brand == 'Momax'")
					img.img-responsive.pointer(src='/images/logo/momax.png', ng-click="brand = 'Momax'")

			.row.line

		.container.margin-top-10
			.row.pin
				.col-md-3(ng-hide="brand != 'Remax'")
					img.img-responsive(src='/images/logo/remax.png')
				.col-md-3(ng-hide="brand != 'Xiaomi'")
					img.img-responsive(src='/images/logo/xiaomi.png')
				.col-md-3(ng-hide="brand != 'MiLi'")
					img.img-responsive(src='/images/logo/mili.png')
				.col-md-3(ng-hide="brand != 'PNG'")
					img.img-responsive(src='/images/logo/png.png')
				.col-md-3(ng-hide="brand != 'Havit'")
					img.img-responsive(src='/images/logo/havit.png')
				.col-md-3(ng-hide="brand != 'Momax'")
					img.img-responsive(src='/images/logo/momax.png')

				.col-md-3.card(ng-hide="brand != 'Remax'")
					img.img-responsive(src='/images/category/remax/new_arrivals.jpg')
					.text-center New Arrivals
				.col-md-3.card(ng-hide="brand != 'Remax'")
					img.img-responsive(src='/images/category/remax/adapter.jpg')
					.text-center Adapter
				.col-md-3.card(ng-hide="brand != 'Remax'")
					img.img-responsive(src='/images/category/remax/bag.jpg')
					.text-center Bag
				.col-md-3.card(ng-hide="brand != 'Remax'")
					img.img-responsive(src='/images/category/remax/cable.jpg')
					.text-center Cable
				.col-md-3.card(ng-hide="brand != 'Remax'")
					img.img-responsive(src='/images/category/remax/car_gadget.jpg')
					.text-center Car Gadget
				.col-md-3.card(ng-hide="brand != 'Remax'")
					img.img-responsive(src='/images/category/remax/case_for_smartphone.jpg')
					.text-center Case for Smartphone
				.col-md-3.card(ng-hide="brand != 'Remax'")
					img.img-responsive(src='/images/category/remax/case_for_tablet.jpg')
					.text-center Case for Tablet
				.col-md-3.card(ng-hide="brand != 'Remax'")
					img.img-responsive(src='/images/category/remax/gadget.jpg')
					.text-center Gadget
				.col-md-3.card(ng-hide="brand != 'Remax'")
					img.img-responsive(src='/images/category/remax/power_bank.jpg')
					.text-center Power Bank
				.col-md-3.card(ng-hide="brand != 'Remax'")
					img.img-responsive(src='/images/category/remax/small_talk-bluetooth.jpg')
					.text-center Small Talk / Bluetooth

					
				.col-md-3.card(ng-hide="brand != 'Xiaomi'")
					img.img-responsive(src='/images/category/xiaomi/mobile_phone.jpg')
					.text-center Smart Phone
				.col-md-3.card(ng-hide="brand != 'Xiaomi'")
					img.img-responsive(src='/images/category/xiaomi/power_bank.jpg')
					.text-center Power Bank
				.col-md-3.card(ng-hide="brand != 'Xiaomi'")
					img.img-responsive(src='/images/category/xiaomi/earphones.jpg')
					.text-center Earphones
				.col-md-3.card(ng-hide="brand != 'Xiaomi'")
					img.img-responsive(src='/images/category/xiaomi/network.jpg')
					.text-center Network
				.col-md-3.card(ng-hide="brand != 'Xiaomi'")
					img.img-responsive(src='/images/category/xiaomi/fan.jpg')
					.text-center Fan
				.col-md-3.card(ng-hide="brand != 'Xiaomi'")
					img.img-responsive(src='/images/category/xiaomi/gift.jpg')
					.text-center Gift
				.col-md-3.card(ng-hide="brand != 'Xiaomi'")
					img.img-responsive(src='/images/category/xiaomi/media_player.jpg')
					.text-center Media Player
				.col-md-3.card(ng-hide="brand != 'Xiaomi'")
					img.img-responsive(src='/images/category/xiaomi/camera.jpg')
					.text-center Camera

					
				.col-md-3.card(ng-hide="brand != 'MiLi'")
					img.img-responsive(src='/images/category/mili/power_bank.jpg')
					.text-center Power Bank
				.col-md-3.card(ng-hide="brand != 'MiLi'")
					img.img-responsive(src='/images/category/mili/gadget.jpg')
					.text-center Gadget
				.col-md-3.card(ng-hide="brand != 'MiLi'")
					img.img-responsive(src='/images/category/mili/cable.jpg')
					.text-center Cable
				.col-md-3.card(ng-hide="brand != 'MiLi'")
					img.img-responsive(src='/images/category/mili/otg.jpg')
					.text-center OTG

					
				.col-md-3.card(ng-hide="brand != 'PNG'")
					img.img-responsive(src='/images/category/png/charger.jpg')
					.text-center USB Travel Charger
				.col-md-3.card(ng-hide="brand != 'PNG'")
					img.img-responsive(src='/images/category/png/cable.jpg')
					.text-center Cable
				.col-md-3.card(ng-hide="brand != 'PNG'")
					img.img-responsive(src='/images/category/png/aux.jpg')
					.text-center AUX Cable
				.col-md-3.card(ng-hide="brand != 'PNG'")
					img.img-responsive(src='/images/category/png/adapter.jpg')
					.text-center USB Car Charger

					
				.col-md-3.card(ng-hide="brand != 'Havit'")
					img.img-responsive(src='/images/category/havit/wireless_headset.jpg')
					.text-center Wireless Headset
				.col-md-3.card(ng-hide="brand != 'Havit'")
					img.img-responsive(src='/images/category/havit/webcam.jpg')
					.text-center Webcam
				.col-md-3.card(ng-hide="brand != 'Havit'")
					img.img-responsive(src='/images/category/havit/cable.jpg')
					.text-center Cable
				.col-md-3.card(ng-hide="brand != 'Havit'")
					img.img-responsive(src='/images/category/havit/adapter.jpg')
					.text-center Adapter
				.col-md-3.card(ng-hide="brand != 'Havit'")
					img.img-responsive(src='/images/category/havit/charger.jpg')
					.text-center USB Charger


				.col-md-3.card(ng-hide="brand != 'Momax'")
					img.img-responsive(src='/images/category/momax/power_bank.jpg')
					.text-center Power Bank
				.col-md-3.card(ng-hide="brand != 'Momax'")
					img.img-responsive(src='/images/category/momax/cable.jpg')
					.text-center Cable
				.col-md-3.card(ng-hide="brand != 'Momax'")
					img.img-responsive(src='/images/category/momax/lenses.jpg')
					.text-center Lenses
				.col-md-3.card(ng-hide="brand != 'Momax'")
					img.img-responsive(src='/images/category/momax/bluetooth.jpg')
					.text-center Bluetooth


		nav.navbar.margin-top-20(style="border-radius:0; margin-bottom: 0px;")
			.container
				.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-nav-center
						li(class=(data.screen == 'news' ? 'active' : ''))
							a(href='#{data.websiteUrl}/news') ข่าวสาร

						li(class=(data.screen == 'category' ? 'dropdown active' : 'dropdown'))
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
								| ประเภทสินค้า 
								span.caret
							ul.dropdown-menu(role='menu')
						li(class=(data.screen == 'about_us' ? 'active' : ''))
							a(href='#{data.websiteUrl}/how_to_order') ขั้นตอนการสั่งซื้อ
						li(class=(data.screen == 'about_us' ? 'active' : ''))
							a(href='#{data.websiteUrl}/about_us') เกี่ยวกับเรา
						li(class=(data.screen == 'contact' ? 'active' : ''))
							a(href='#{data.websiteUrl}/contact') ติดต่อสอบถาม
						li(class=(data.screen == 'register' ? 'active' : ''))
							a(href='#{data.websiteUrl}') สมัครสมาชิก

		.footer(style="border-radius:0; background-color: #fdbe0f; color:black")
			.container
				.col-xs-12.col-md-3
					table(style="margin-top:20px; background-color: #fdbe0f; color:black")
						tr
							td
								img.img-responsive(src="https://powerdd-test.azurewebsites.net/images/line-powerdd.png", width="150")
						tr
							td(align="center")
								| Line ID  
								b @PowerDD

				.col-xs-12.col-md-5
					h3 สิทธิประโยชน์พิเศษเมื่อ Add Line
					ul
						li  รับสิทธิ์ร่วมกิจกรรมพิเศษของ PowerDD
						li  รับข่าวสาร และโปรโมชั่นพิเศษก่อนใคร
						li  รับข้อมูลเกี่ยวกับสินค้า กิจกรรม สิทธิพิเศษ และรายการส่งเสริมการขาย
				.col-xs-12.col-md-4
					h3 บริษัท พาวเวอร์ โบล์ท จำกัด
					| 900/31 อาคารเอสวีซิตี้ ชั้น 1 ห้อง F-13
					br
					| พระราม3 แขวงบางโพงพาง เขตยานนาวา
					br
					| จังหวัดนนทบุรี 10120
					br
					br
					| มือถือ: 098-9919-060
					br
					| แฟกซ์: +66 (0)2 295 3296
					br
					| อีเมล: service@powerdd.com

		script(src='//cdn.powerdd.com/jquery/2.1.4/jquery.min.js')
		script(src='//cdn.powerdd.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script(src='//cdn.powerdd.com/angular/1.4.6/angular.min.js')
		script(src='//cdn.powerdd.com/angular/ngStorage/0.3.9/ngStorage.min.js')
		script(src='/javascripts/common.js')